.hidden {
  display: none;
}
.cartContainer {
  position: fixed;
  background: #eee;
  right: 0;
  top: 0;
  width: 25%;
  bottom: 0;
  height: auto;
  padding: 0 2%;
  /* display: none; */
}
#itemContainer {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-flow: column;
}
.thumbImg {
  width: 75px;
}
.cartItem {
  display: inline-flex;
  align-items: center;
  margin: 2.5% 0;
  justify-content: space-between;
}
.itemContent > span {
  margin: 2% 0;
}
.itemContent {
  margin: 0 2.5%;
  display: flex;
  flex-flow: column;
}
.priceContent {
  display: flex;
  flex-flow: column;
}
.deleteSvg {
  width: 25%;
}
.btnGroup {
  display: inline-flex;
}
.btn {

}
.btnDisabled {
  cursor: not-allowed;
}
.cartFooter {
  position: fixed;
  bottom: 0;
  background: #eee;
}
#cartImg {
  width: 100%;
}
.cartImgContainer {
  position: fixed;
  right: 0;
  width: 7%;
  /* background-image: ; */
}
.cartImgContainer.active {
  position: relative;
  right: 0;
  width: 10%;
  /* background-image: ; */
}